/avd lagi.py
/binary_motivation_pie.png
/Decision tree hasil.png
/decision_tree_visualization.png
/external_support_violin.png
/motivation_age_program_stacked.png
/motivation_by_program.png
/motivation_decision_tree.png
/motivation_pie.png
/part_time_job_count.png
/PKB DEMO
/Prediksi motivasi belajar mahasiswa (Responses) - Form responses 1 (1).csv
/Prediksi motivasi belajar mahasiswa (Responses) - Form responses 1.csv
/Sorted_Gaming_Data (1).csv
/study_hours_boxplot.png
/study_hours_by_motivation.png
/support_by_motivation.png
/support_trend_line_chart.png
/time_management_scatter.png
/time_management_study_hours_scatter.png
/Tugas avd.py